<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>残联申报企业名单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
</head>
<body>
<form class="layui-form" id="queryForm" action="" style="padding-top: 15px;margin: 5px;">
    <div class="layui-inline">
        <label class="layui-form-label">企业名称: </label>
        <div class="layui-input-block">
            <input type="text" name="name" id="name" placeholder="请输入企业名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">流水号: </label>
        <div class="layui-input-block">
            <input type="text" name="caseId" id="caseId" placeholder="请输入流水号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">筛选结果:</label>
        <div class="layui-input-block">
            <input type="text" name="screen" id="screen" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">需重新处理:</label>
        <div class="layui-input-block">
            <input type="text" name="need" id="need" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-input-block">
            <button class="layui-btn face-btn" id="query" type="button" data-type="reload" style="height:35px;">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary face-btn" style="height:35px;">重置</button>
        </div>
    </div>
</form>
<table class="layui-table" id="grid" lay-filter="grid"></table>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script>
    let object, big, small, cdpf = [];
    $.getJSON("/json/big.json", function (data) {
        big = data.RECORDS;
    });

    // 获取签名图片
    $.getJSON("/json/small.json", function (data) {
        small = data.RECORDS;
    });

    // 获取签名图片
    $.getJSON("/json/cdpf_file.json", function (data) {
        cdpf = data.RECORDS;
    });

    // 获取签名图片
    $.getJSON("/json/data.json", function (data) {
        object = data.RECORDS;
    });

    layui.use(['table','form'], function(){
        let table = layui.table;
        let form = layui.form;

        //第一个实例
        table.render({
            elem: '#grid'
            ,url: '/list'
            ,method: 'get'
            ,title:'残联（申报企业名单）'
            //,data: object
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,page: true //开启分页
            ,limit: '20'
            ,skin: 'line' //行边框风格
            ,even: true //开启隔行背景
            ,size: 'sm' //小尺寸的表格
            ,toolbar: '#toolbarDemo'
            ,defaultToolbar:["filter","exports","print"]
            ,cols: [
                [ //表头
                {checkbox: true, fixed: true}
                ,{field: '序号', title: '序号', width:80, sort: true, fixed: 'left'}
                ,{field: '日期', title: '日期', width:80}
                ,{field: '企业名称', title: '企业名称', width:200}
                ,{field: '流水号', title: '流水号', width:120}
                ,{field: '标记号', title: '标记号', width: 100}
                ,{field: '是否打印', title: '是否打印', width: 100}
                ,{field: '初步筛选结果', title: '初步筛选结果', width: 135}
                ,{field: '是否有问题', title: '是否有问题', width: 135}
                ,{field: '需重新处理', title: '需重新处理', width: 120}
                ,{field: '11-17打印材料', title: '17打印材料', width: 135}
                ,{field: 'oldUrl', title: '原合成图', hide: true, width: 135}
                ,{field: 'smallUrl', title: '签名图', width: 135,
                    templet: function (d) {
                        let html = "";
                        if (d.smallUrl !== undefined && d.smallUrl !== "") {
                            html = "<img src=\""+ d.smallUrl +"\" id='small' alt=\""+ d.smallUrl +"\">";
                        }
                        return html;
                    }
                }
                ,{field: 'op', title: '操作', toolbar: '#barDemo', width: 430, align: 'center'}
                ]
            ]
        });

        //监听工具条
        table.on('tool(grid)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            let data = obj.data; //获得当前行数据
            let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            let tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            let caseId = data["流水号"];
            let prefix = "http://192.68.60.231:8881/files/";
            let smallUrl = data["smallUrl"];
            let bigUrl = data["bigUrl"];
            let oldUrl = data["oldUrl"];

            if(layEvent === 'manual'){ //手动合成
                if (bigUrl !=="" && oldUrl !== "") {
                    bigUrl = bigUrl.replaceAll('\\', '/');
                    openWindow3(bigUrl, smallUrl, caseId, oldUrl);
                }else {
                    layer.alert("抱歉！您还没有更新底图！");
                }
            } else if(layEvent === 'look1'){ //查看原合成图
                if (oldUrl !== "") {
                    openWindow1(prefix + oldUrl );
                }else {
                    layer.alert("您还没有更新原合成图！");
                }
            } else if(layEvent === 'look2'){ //查看新合成图
                if (oldUrl !== "") {
                    openWindow2(oldUrl);
                }else {
                    layer.alert("您还没有新合成图！");
                }
            } else if(layEvent === 'auto'){ //自动合成
                layer.confirm('你确定要开始合成吗！', function () {
                    synthesis(this);
                });
            }
        });

        let $ = layui.$, active = {
            reload: function(){
                let name = $('#name').val();
                let caseId = $('#caseId').val();
                let screen = $('#screen').val();
                let need = $('#need').val();

                //执行重载
                table.reload('grid', {
                    page: {
                        pageNum: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        key: {

                        },
                        企业名称: name,
                        流水号: caseId,
                        初步筛选结果: screen,
                        需重新处理: need
                    }
                });
            }
        };

        $('#query').on('click', function(){
            let type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    function openWindow1(filePath) {
        let _btn = ['<i class="fa fa-check"></i> 确认', '<i class="fa fa-close"></i> 关闭'];
        layer.open({
            title: '图片查看',
            area: ['80%','90%'],
            shade: [0.8, '#393D49'],
            shadeClose: true,
            content: '<img src="' + filePath + '">',
            btn: _btn,
            yes: function(index, layero){
                //do something
                layer.close(index); //如果设定了yes回调，需进行手工关闭
            }
        });
    }

    function openWindow2(filePath) {
        let _btn = ['<i class="fa fa-check"></i> 确认', '<i class="fa fa-close"></i> 关闭'];
        layer.open({
            type: 2,
            title: '图片查看',
            area: ['80%','90%'],
            shade: [0.8, '#393D49'],
            shadeClose: true,
            content: '/preview?filePath=' + filePath,
            btn: _btn,
            yes: function(index, layero){
                //do something
                layer.close(index); //如果设定了yes回调，需进行手工关闭
            }
        });
    }

    function openWindow3(bigUrl, smallUrl, caseId, fileName) {
        let _btn = ['<i class="fa fa-check"></i> 确认', '<i class="fa fa-close"></i> 关闭'];
        layer.open({
            type: 2,
            title: '图片合成',
            area: ['80%','90%'],
            shade: [0.8, '#393D49'],
            shadeClose: false,
            content: '/test1?bigUrl=' + bigUrl + "&smallUrl=" + smallUrl + "&caseId=" + caseId + "&fileName=" + fileName,
            btn: _btn,
            yes: function(index, layero){
                //do something
                let iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.synthesis();
                layer.close(index); //如果设定了yes回调，需进行手工关闭
                openWindow2(fileName);
            }
        });
    }

    function synthesis(obj) {
        let smallUrl = $(obj).parent().data("small");
        let bigUrl = $(obj).parent().data("big");
        let caseId = $(obj).parent().data("caseid");
        $.ajax({
            url: "/system/synthesis",
            type: "post",
            data: {
                "smallUrl": smallUrl,
                "bigUrl": bigUrl,
                "caseId": caseId
            },
            success: function (data) {
                if (data.code === '0') {
                    alert(data.msg + " 文件名是："  + data.data);
                }else {
                    alert(data.msg);
                }
            },
            error: function () {
                console.log("系统错误，请联系管理员！");
            }
        })
    }
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="manual">手动合成</a>
    <a class="layui-btn layui-btn-xs" lay-event="look1">查看原合成图</a>
    <a class="layui-btn layui-btn-xs" lay-event="look2">查看新合成图</a>
    <a class="layui-btn layui-btn-xs" lay-event="auto">自动合成</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
    </div>
</script>
</body>
</html>