<!DOCTYPE html>
<html lang="eh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图片合成</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>

</head>
<style>
    table{
        border-collapse: collapse;
        width: 100%;
    }
    th, td{
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){
        background-color: #fafafa;
    }
    th{
        background-color: #7799AA;
        color: white;
    }
</style>
<script type="text/javascript">
    let object;
    let big = [];
    let small = [];
    let file = [];
    $(document).ready(function () {
        // 获取底图
        $.getJSON("/json/big.json", function (data) {
            big = data.RECORDS;
        });

        // 获取签名图片
        $.getJSON("/json/small.json", function (data) {
            small = data.RECORDS;
        });

        // 获取签名图片
        $.getJSON("/json/cdpf_file.json", function (data) {
            file = data.RECORDS;
        });

        // 获取有问题的数据
        $.getJSON("/json/data.json", function (data) {
            let $table = $("#table");
            let strHtml = "<table>\n" +
                "<tr>" +
                    "<th>序号</th>" +
                    "<th>日期</th>" +
                    "<th>企业名称</th>" +
                    "<th>流水号</th>" +
                    "<th>标记号</th>" +
                    "<th>是否打印</th>" +
                    "<th>初步筛选结果</th>" +
                    "<th>是否有问题</th>" +
                    "<th>需重新处理</th>" +
                    "<th>签名</th>" +
                    "<th>底图</th>" +
                    "<th>原合成图</th>" +
                    "<th>新合成图</th>" +
                    "<th>操作</th>" +
                "</tr>";//存储数据的变量
            $table.empty();//清空内容
            object = data.RECORDS;
            $.each(data.RECORDS, function (index, item) {
                strHtml += "<tr>" +
                        "<td>"+(index + 1)+"</td>" +
                        "<td>"+item["日期"]+"</td>" +
                        "<td>"+item["企业名称"]+"</td>" +
                        "<td>"+item["流水号"]+"</td>" +
                        "<td>"+item["标记号"]+"</td>" +
                        "<td>"+item["是否打印"]+"</td>" +
                        "<td>"+item["初步筛选结果"]+"</td>" +
                        "<td>"+item["是否有问题"]+"</td>" +
                        "<td>"+item["需重新处理"]+"</td>"
                        /*"<td>"+ (item["1-17打印材料"] || "")+"</td>"*/
                        ;
                    let caseId = item["流水号"];

                    let smallUrl = "";
                    let signHtml = "<td>没有签名图</td>";
                    small.forEach(function (o, index, array) {
                        if (o["CASE_ID"] === caseId) {
                            smallUrl = o["FILE_URL"];
                            if (smallUrl.trim() !== "") {
                                signHtml = "<td><img width='250' height='70' src=\""+ smallUrl +"\" alt='签名图'></td>";
                            }
                        }
                    })
                    if (smallUrl === "") {
                        return ;
                    }
                    strHtml += signHtml;

                    let prefix = "http://192.68.60.231:8881/files/";
                    let bigUrl = "";
                    let bigHtml =  "<td>没有底图</td>";
                    big.forEach(function (o, index, array) {
                        if (o["CASEID"] === caseId) {
                            let fileName = "";
                            file.forEach(function (obj, index, array) {
                                if (obj["CASEID"] === caseId) {
                                    fileName = obj["FILE_URL"];
                                }
                            })
                            let file_url = o["FILE_URL"];
                            file_url = file_url.replaceAll('\\', '/');

                            bigUrl = prefix + file_url;
                            bigHtml = "<td><a href='javascript:void' class=\"layui-btn\" onclick=\"openWindow3('"+bigUrl+"', '"+smallUrl+"', '"+caseId+"', '"+fileName+"')\">查看底图</a></td>";
                        }
                    });
                    strHtml += bigHtml;

                    let fileHtml = "<td></td>";
                    file.forEach(function (o, index, array) {
                        if (o["CASEID"] === caseId) {
                            let file_url = o["FILE_URL"];
                            fileHtml = "<td><a href='javascript:void' class=\"layui-btn\" onclick=\"openWindow1('"+ prefix + file_url + "')\">查看原合成图</a></td>";
                        }
                    })
                    strHtml += fileHtml;

                    let newFileHtml = "<td></td>";
                    file.forEach(function (o, index, array) {
                        if (o["CASEID"] === caseId) {
                            let file_url = o["FILE_URL"];
                            newFileHtml = "<td><a href='javascript:void' class=\"layui-btn\" onclick=\"openWindow2('"+file_url+"')\">新合成图</a></td>";
                        }
                    })
                    strHtml += newFileHtml;
                    strHtml += "<td data-big='"+bigUrl+"' data-small='"+smallUrl+"' data-caseid='"+caseId+"' ><input type='button' id='operation'class=\"layui-btn layui-btn-primary\" onclick='synthesis(this)' value='自动合成'></td>";
                    strHtml +="</tr>";

            })
            strHtml += "</table>";
            $table.html(strHtml);//显示处理后的数据
        });
    });
</script>
<body>
    <script th:src="@{/layui/layui.js}"></script>
    <div id="table" lay-filter="test"></div>
    <script type="text/javascript">
        let layer;
        layui.use('layer', function(){
            layer = layui.layer;
        });

        function openWindow1(filePath) {
            let _btn = ['<i class="fa fa-check"></i> 确认', '<i class="fa fa-close"></i> 关闭'];
            layer.open({
                title: '图片查看',
                area: ['80%','90%'],
                shade: [0.8, '#393D49'],
                shadeClose: true,
                content: '<img src="' + filePath + '">',
                btn: _btn,
                yes: function(index, layero){
                    //do something
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }
            });
        }

        function openWindow2(filePath) {
            let _btn = ['<i class="fa fa-check"></i> 确认', '<i class="fa fa-close"></i> 关闭'];
            layer.open({
                type: 2,
                title: '图片查看',
                area: ['80%','90%'],
                shade: [0.8, '#393D49'],
                shadeClose: true,
                content: '/preview?filePath=' + filePath,
                btn: _btn,
                yes: function(index, layero){
                    //do something
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }
            });
        }

        function openWindow3(bigUrl, smallUrl, caseId, fileName) {
            let _btn = ['<i class="fa fa-check"></i> 确认', '<i class="fa fa-close"></i> 关闭'];
            layer.open({
                type: 2,
                title: '图片合成',
                area: ['80%','90%'],
                shade: [0.8, '#393D49'],
                shadeClose: false,
                content: '/test1?bigUrl=' + bigUrl + "&smallUrl=" + smallUrl + "&caseId=" + caseId + "&fileName=" + fileName,
                btn: _btn,
                yes: function(index, layero){
                    //do something
                    let iframeWin = window[layero.find('iframe')[0]['name']];
                    iframeWin.synthesis();
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    openWindow2(fileName);
                }
            });
        }

        function synthesis(obj) {
            console.log("开始合成");
            let smallUrl = $(obj).parent().data("small");
            let bigUrl = $(obj).parent().data("big");
            let caseId = $(obj).parent().data("caseid");
            $.ajax({
                url: "/system/synthesis",
                type: "post",
                data: {
                    "smallUrl": smallUrl,
                    "bigUrl": bigUrl,
                    "caseId": caseId
                },
                success: function (data) {
                    if (data.code === '0') {
                        alert(data.msg + " 文件名是："  + data.data);
                    }else {
                        alert(data.msg);
                    }
                },
                error: function () {
                    console.log("系统错误，请联系管理员！");
                }
            })
        }
    </script>
</body>
</html>