<!DOCTYPE html>
<html lang="eh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="box">
    <div class="wrap">
        <img th:src="@{${bigUrl}}" alt="" id="img"><br>
        <label for="abscissa">横坐标:</label><input type="text" id="abscissa">
        <label for="ordinate">纵坐标:</label><input type="text" id="ordinate">
        <input type='button' id='operation' onclick='synthesis()' value='合成'>
<!--        <img  src="http://192.68.60.231:8881/files/be3bb8c3ee524e4aaf303966b8d047b0.jpg" alt="" id="img">-->
        <div class="container"></div>
        <input type="hidden" id="smallUrl" th:value="${smallUrl}">
        <input type="hidden" id="bigUrl" th:value="${bigUrl}">
        <input type="hidden" id="caseId" th:value="${caseId}">
        <input type="hidden" id="fileName" th:value="${fileName}">
    </div>
</div>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script type="text/javascript">
    let abscissa = 0;
    let ordinate = 0;
    $('#img').click(function(e){
        let radius = 10;//半径
        let offset = $(this).offset();
        let top = e.pageY - offset.top - radius;
        let left = e.pageX - offset.left - radius;
        //$('.wrap').append('<div class="ball" style="top:'+top+';left:'+left+'"></div>');
        $('.container').html('<div class="ball" style="top:'+top+';left:'+left+'"></div>');
        $("#abscissa").val(left);
        $("#ordinate").val(top);
        abscissa = left;
        ordinate = top;
    })

    function synthesis() {
        let smallUrl = $('#smallUrl').val();
        let bigUrl = $('#bigUrl').val();
        let caseId = $('#caseId').val();
        let fileName = $('#fileName').val();
        $.ajax({
            url: "/system/synthesis1",
            type: "post",
            data: {
                "smallUrl": smallUrl,
                "bigUrl": bigUrl,
                "caseId": caseId,
                "abscissa": abscissa,
                "ordinate": ordinate,
                "fileName": fileName
            },
            success: function (data) {
                if (data.code === '0') {
                    alert(data.msg + " 文件名是："  + data.data);
                }else {
                    alert(data.msg);
                }
            },
            error: function () {
                console.log("系统错误，请联系管理员！");
            }
        })
    }
</script>
</body>
</html>